.git
.github
.gitlab-ci.yml

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
htmlcov/

.venv/
venv/
env/

.env
*.env
config.ini

*.sqlite3
*.db

staticfiles/
media/

.DS_Store
.idea/
.vscode/
