asgiref==3.8.1
attrs==25.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
deepdiff==8.3.0
Django==5.1.5
django-mail-templated==2.6.5
django-simple-history==3.8.0
djangorestframework==3.15.2
djangorestframework-simplejwt==5.5.0
idna==3.7
jsonschema==4.21.1
jsonschema-specifications==2024.10.1
mysqlclient==2.1.1
ordered-set==4.1.0
pytz==2024.1
referencing==0.35.0
requests==2.32.3
rpds-py==0.23.1
setuptools==70.0.0
sqlparse==0.5.3
urllib3==2.3.0
wheel==0.45.1