asgiref==3.10.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.4
deepdiff==8.6.1
Django==5.1.14
django-mail-templated==2.6.5
django-simple-history==3.10.1
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.28.0
idna==3.11
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
mysqlclient==2.1.1
ordered-set==4.1.0
pytz==2025.2
referencing==0.37.0
requests==2.32.5
rpds-py==0.27.1
setuptools==80.9.0
sqlparse==0.5.4
urllib3==2.5.0
wheel==0.45.1